
<!-- extend base layout -->
{% extends "base.html" %}

<head>
<script src="jquery-3.2.1.min.js"></script>
</head>

{% block content %}
    <div class="container" align="center">
        <h1 dir="rtl">ברוכים הבאים  , {{ user.first_name }}</h1>
        <h3 dir="rtl">לצורך הצבעה, בחר את המפלגה הרצויה ולחץ 'סיום'</h3>
        <form method="post">
            {% for party in parties %}
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3" style="padding: 5px">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="party_name" id="{{party.name}}" value="{{party.name}}">
                            <div class="thumbnail">
                                <center>{{ party.name}}</center>
                            <div align="center"><img src="{{party.picture}}" align="middle" width="200" height="auto"></div>
                            </div>
                        </label>
                    </div>
            </div>
        {% endfor %}
            <div class="submitbote">
                <button id="vote" type="button" onclick="clicked()"  name ="vote" class="btn btn-primary">סיום

               <script type="text/javascript">
                function clicked()
                {
                     var r=confirm('האם אתה בטוח בבחירתך ?');
                     var btn=document.getElementById('vote');
                     if(r==true)
                     {
                        var btn=document.getElementById('vote');
                        btn.setAttribute('type','submit');
                     }
                }
                </script>
                </button>
            </div>
        </form>
    </div>
{% endblock %}